
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #002147;
  padding: 15px 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar h3 {
  font-size: 1.6rem;
  font-weight: 600;
}


.logo {
  height: 60px;
  width: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}


.nav-links a:hover {
  opacity: 0.7;
}


.rural_p1 img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
}



section h1 {
  color: #002147;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* SUBTÍTULO */
section h2 {
  color: #002147;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* TEXTO EXPLICATIVO */
section h3 {
  color: #002147;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}


.carousel-container {
  flex: 0 0 280px;
  position: relative;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}


.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 10px;
  scroll-snap-type: x mandatory;
}


.carousel .card {
  height: 350px;
  min-width: 360px;
  max-width: 360px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 16px 0 8px;
}


.card {
    border-left: 6px solid #ff4d4d; /* vermelho */
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    width: 300px;
}


.data {
    position: absolute;
    text-align: right;
    font-size: 0.9rem; /* deixa pequenininho */
    color: #666;       /* cinza suave */
}