
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background: #002147;
  padding: 15px 30px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.navbar h3 {
  font-size: 1.6rem;
  font-weight: 600;
}


.logo {
  height: 60px;
  width: auto;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}


.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}


.nav-links a:hover {
  opacity: 0.7;
}


.rural_p1 img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.9;
}


div h1 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  color: #002147;
}


div h2 {
  font-size: 1.5rem;
  margin: 10px 20px;
  text-align: center;
  color: #444;
}


div h3 {
  font-size: 1.1rem;
  margin: 10px 20px 30px 20px;
  text-align: left;
  font-weight: normal;
  color: #555;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}


.carousel-container {
  flex: 0 0 280px;
  position: relative;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}


.carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 10px;
  scroll-snap-type: x mandatory;
}


.carousel .card {
  height: 350px;
  min-width: 360px;
  max-width: 360px;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  scroll-snap-align: start;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card h3 {
    margin: 16px 0 8px;
}


.card {
    border-left: 6px solid #ff4d4d; /* vermelho */
    border-radius: 8px;
    padding: 16px;
    background: #fff;
    width: 300px;
}


.data {
    position: absolute;
    text-align: right;
    font-size: 0.9rem; /* deixa pequenininho */
    color: #666;       /* cinza suave */
}